.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	color: #ffffff;
	background-color: #0c97f9;
	transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
	cursor: pointer;
	overflow: hidden;

	border: {
      width: 2px;
      style: solid;
      radius: 26px;
    }

    font: {
      style: normal;
      weight: 500;
      size: 1rem;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    &:focus {
      outline: none;
    }
    
    &__content {
      display: inline-block;
      transition: all 0.3s ease-in-out;
    }
}